<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="${specialfolder:folder=LocalApplicationData}/Vrcosc-MagicChatbox/internal-nlog.txt">

	<targets>
		<target xsi:type="File" name="fileTarget"
				fileName="${specialfolder:folder=LocalApplicationData}/Vrcosc-MagicChatbox/logs/${shortdate}.log"
				archiveAboveSize="10485760"
				maxArchiveFiles="5"
				archiveNumbering="Rolling"
				layout="${longdate} || ${uppercase:${level}} [ThreadID:${threadid}] || ${message} ${exception:format=ToString,StackTrace}"/>

		<target xsi:type="File" name="errorTarget"
				fileName="${specialfolder:folder=LocalApplicationData}/Vrcosc-MagicChatbox/logs/errors-${shortdate}.log"
				archiveAboveSize="10485760"
				maxArchiveFiles="3"
				archiveNumbering="Rolling"
				layout="${longdate} || ${uppercase:${level}} [ThreadID:${threadid}] || ${message} ${exception:format=ToString,StackTrace}"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="fileTarget" />
		<logger name="*" minlevel="Error" writeTo="errorTarget" />
	</rules>
</nlog>