<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Info"
      internalLogFile="internal-nlog.txt">

	<targets>
		<target xsi:type="File" name="fileTarget"
				fileName="C:\temp\\Vrcosc-MagicChatbox\${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${logger}: ${message} ${exception:format=ToString,StackTrace}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="fileTarget" />
	</rules>
</nlog>